# Sensitive files
./config.json
.secrets.toml

# Model files and checkpoints
bert_fake_news_model/*.bin
bert_fake_news_model/*.safetensors
bert_fake_news_model/*.ckpt
bert_fake_news_model/checkpoint-*/

# Python-specific files
*.pyc
*.pyo
__pycache__/

# Virtual environments
.venv/
venv/

# OS-specific files
.DS_Store
Thumbs.db

# Other temporary files
