
.env
.venv
venv





*.pyc
*.pyo
__pycache__/


.DS_Store
Thumbs.db
config.json

bert_fake_news_model/checkpoint-*
bert_fake_news_model/*
!bert_fake_news_model/pytorch_model.bin
!bert_fake_news_model/tokenizer.json